#container #calendar{
	float: left;
	border-style: solid;
	border-width: 2px;
	height: auto;
	bottom: 73px;
}

#dayOfTheWeek{
	top:206px;
	height:100px;
}
#box1{
	text-align: center;
	vertical-align: middle;
	width: 107px;
	height: 107px;
	border-style: solid;
	border-width: 2px;
}

#container{
	position: absolute;
	margin-left: 189px;
	margin-top:97px;
	margin-bottom: 88px;
	width: 770px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	z-index: -1;
	background: #EDC9AF;
}
#container #month{
	height: 100px;
	border-style: solid;
	border-width: 1px;
	width: 768px;
	z-index: -1;
	background: #EDC9AF;
	text-align: center;
	float: left;
}
#container div{
	width: 110px;
	height: 100px;
	outline: 1px solid;
	float: left;
}

#container #calendar #end{
	width: 101px;
	height: 100px;
	outline: 1px solid;
	float: left;
	bottom: 73px;
}

#container #month{
	text-align: center;
	background: #e5e5e5;
}

#container #days{
	border-style: solid;
	border-width: 1px;
	width: 131px;
	height: 20px;
}

#container #date{
	border-style: solid;
	border-width: 1px;
	width: 103px;
	height: 20px;
}

#container #selectTime{
	border-style: solid;
	border-width: 1px;
	width: 103px;
	height: 590px;
}

#container #select{
	border-style: solid;
	border-width: 1px;
	width: 131px;
	height: 590px;
}
#container #setupForm{
	width: 770px;
	height: 125px;
	text-align: center;
}

#container #signupForm{
	height: 130px;
	border-style: solid;
	border-width: 1px;
	width: 768px;
	z-index: -1;
	background: #EDC9AF;
	text-align: center;
	float: left;
}

#container #button{
	text-align: center;
	width: 770px;
	height: auto;
}